<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ImathService" />
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50019/mathService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ImathService" contract="ServiceReference1.ImathService"
                name="BasicHttpBinding_ImathService" />
            <endpoint address="http://localhost:50019/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference2.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:1219/Service1.xamlx" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="ServiceReference3.IService"
                name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>